.main
  %video.video-player{controls: false, preload: "auto", autoplay: 'autoplay', loop: "loop"}
    %source{src: "loop.mp4", type: "video/mp4"}
  %section.alex-hint.background
    %article
      %h1.animated.fadeInUp Alex Hint
      %p.animated.fadeInUp currently enjoying Ruby and good software design with a cup of tea
      = blog_link
      = twitter_link
      = github_link('')
      = linkedin_link
      = resume_link
      = mail_link

  %section.magnetic.background
    %article
      %a{ href: "http://magnetic-twitter.herokuapp.com/", target: 'blank' }
        %h2 Magnetic Twitter
      %p create your tweets out of the words of the people you follow
      = github_link('/Magnetic_Twitter')


  %section.saffron.background
    %article
      %a{ href: "http://colindresj.github.io/saffron/", target: 'blank' }
        %h2 Saffron
      %p simple sass mixin library for animations and transitions
      = github_link('/saffron')

  %section.elsaurus.background
    %article
      %a{ href: "https://itunes.apple.com/US/app/id942306453", target: 'blank' }
        %h2 Elsaurus
      %p translate your words into El-speak or get a random quote from El
      = github_link('/Elsaurus-iOS')

  %section.viddy-o.background
    %article
      %a{ href: "http://viddy-o.herokuapp.com/", target: 'blank' }
        %h2 Viddy-O
      %p search instagram videos by hashtag and "stitch" them together to view one as one
      = github_link('/Viddy-O')
