.main
  %video.video-player{controls: false, preload: "auto", autoplay: 'autoplay', loop: "loop"}
    %source{src: "loop.mp4", type: "video/mp4"}
  %section.alex-hint.background
    %article
      %h1.animated.fadeInUp Alex Hint
      %p.animated.fadeInUp Web Developer | Marketer | Photographer | Brooklyn Polymath
      = twitter_link
      = instagram_link
      = github_link('')
      = linkedin_link
      = mail_link

  %section.viddy-o.background
    %article
      %a{ href: "http://viddy-o.herokuapp.com/", target: 'blank' }
        %h2 Viddy-O
      %p search instagram videos by hashtag and "stitch" them together to view one compiled video
      = github_link('/Viddy-O')

  %section.chatty.background
    %article
      %a{ href: "http://chattywdi.herokuapp.com/", target: 'blank' }
        %h2 chatty
      %p real-time chatrooms with funny nicknames that keep users anonymous
      = github_link('/chatty')

  %section.bubldraw.background
    %article
      %a{ href: "http://bubldraw.herokuapp.com/", target: 'blank' }
        %h2 BublDraw
      %p fun drawing app that lets users create and edit images with simple design
      = github_link('/BublDraw')

  %section.hintr.background
    %article
      %a{ href: "http://hintr.co/", target: 'blank' }
        %h2 hintr
      %p simple match making app that analyzes social data to match users up with the right friends
      = github_link('/hintr')

  %section.mmm.background
    %article
      %a{ href: "http://mate-marry-murder.herokuapp.com/", target: 'blank' }
        %h2 Mate Marry Murder
      %p social game that lets users play with each other and judge mutual friends
      = github_link('/first-project/tree/master/mate_marrry_murder_app')

  %section.hash-stash.background
    %article
      %a{ href: "http://hashstash.herokuapp.com/votes", target: 'blank' }
        %h2 Hash Stash
      %p a class website to share information and vote on relative topics
      = github_link('/hash-stash/tree/master/hash_stash_app')

  %footer






