.main
  %section.alex-hint.background
    %article
      %h1.name Alex Hint

      <p class='intro'> I love to build awesome sh<span class='shhh'>#</span>t. I am a Web/Business Developer, Marketer, Photographer, Brooklyn Polymath. </p>
      = twitter_link
      = github_link('')
      = mail_link

  %section.viddy-o.background
    %article
      / = project_link('ViddyO.png', 'http://viddy-o.herokuapp.com/')
      %h2 Viddy-O
      %p search instagram videos by hashtag and "stitch" them together to view one compiled video
      = github_link('/Viddy-O')

  %section.chatty.background
    %article
      / = project_link('chatty.png', 'http://chattywdi.herokuapp.com/')
      %h2 chatty
      %p real-time chatrooms with funny nicknames that keep users anonymous
      = github_link('/chatty')

  %section.bubldraw.background
    %article
      / = project_link('Bubldraw.png', 'http://bubldraw.herokuapp.com/')
      %h2 BublDraw
      %p fun drawing app that lets users create and edit images with simple design
      = github_link('/BublDraw')

  %section.hintr.background
    %article
      / = project_link('Hintr.png', 'http://hintr.co/')
      %h2 hintr
      %p simple match making app that analyzes social data to match users up with the right friends
      = github_link('/hintr')

  %section.mmm.background
    %article
      / = project_link('MateMarrryMurderApp.png', 'http://mate-marry-murder.herokuapp.com')
      %h2 Mate Marry Murder
      %p social game that lets users play with each other and judge mutual friends
      = github_link('/first-project/tree/master/mate_marrry_murder_app')

  %section.hash-stash.background
    %article
      / = project_link('HashHub.png', 'http://hashstash.herokuapp.com')
      %h2 Hash Stash
      %p a class website to share information and vote on relative topics
      = github_link('/hash-stash/tree/master/hash_stash_app')

  %footer






