.main.helvetica

  .right

    %h1.helvetica.title Alex Hint

    %p.intro I build awesome sh#t.
    = github_link('')


    %hr
    .project
      = project_link('chatty.png', 'http://chattywdi.herokuapp.com/')
      %h2.title chatty
      %p.explanation Hello
      = github_link('/chatty')

    %hr
    .project
      = project_link('Bubldraw.png', 'http://bubldraw.herokuapp.com/')
      %h2.title BublDraw
      %p.explanation Hello
      = github_link('/BublDraw')
      %hr

      .project
      = project_link('MateMarrryMurderApp.png', 'http://mate-marry-murder.herokuapp.com')
      %h2.title Mate Marry Murder
      %p.explanation Hello
      = github_link('/first-project/tree/master/mate_marrry_murder_app')
      %hr

    .project
      = project_link('Hintr.png', 'http://hintr.co/')
      %h2.title hintr
      %p.explanation Hello
      = github_link('/hintr')
      %hr

    .project
      = project_link('HashHub.png', 'http://hashstash.herokuapp.com')
      %h2.title Hash Stash
      %p.explanation a class website to share information and vote on relative topics
      = github_link('/hash-stash/tree/master/hash_stash_app')

    .footer






